@model LibrarySystemm.Models.Book
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Guncelle</title>
</head>
<body>
    <h1>Update Book</h1>
    <p>Id Number: @Model.Id</p>
    <hr />
    <form asp-controller="Home" asp-action="Update" method="post" enctype="multipart/form-data">
        <input type="text" asp-for="ISBN no" value="@Model.ISBN"> <br />
        <input type="text" asp-for="Name" value="@Model.NAME"> <br />
        <input type="text" asp-for="Page Number" value="@Model.PAGENUMBER"> <br />
        <input type="text" asp-for="Language" value="@Model.LANGUAGE"> <br />
        <input type="text" asp-for="Category" value="@Model.CATEGORY"> <br />
        <input type="checkbox" asp-for="Completed" value="@Model.Completed"> <br />
        <button type="submit">Todo Güncelle</button>
    </form>
</body>
</html>